*::after,*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.navbar{
    box-shadow: 0px 5px 10px #aaa;

    width: 100%;
    background-color: red;
    color: #000;
    opacity: 0.85;
    height: 70px;
    /* z-index: 12; */
}

.navbar-conatiner{
    display: flex;
    justify-content: center;
    height: 64px;
    align-items: center;
    position: relative
}

.menu-items{
    order: 2;
    display: flex;
}
.menu-items li {
    list-style: none;
    margin-left: 1.5em;
    margin-bottom: 0.5rem;
    font-size:1.5em;
}

.menu-items a {
    text-decoration: none;
    color: #444;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.menu-items a:hover{
    color:#117964;
    transition: color 0.3s ease-in-out;
    }

    img{
        position: absolute;
        order: 1;
        height: 50px;
        left: 0;
        /* font-size: 2.3rem; */
        margin: 0.5rem 0;
    }
    .buttons{
       right:80px;
       display: grid;
       grid-template-columns: 1fr 1fr;
       justify-content: center;
       align-items: center;
        position: absolute;
      
    }

    .buttons a>img {
        height: 30px;
        /* right: 244px; */
        left: 50px;
        bottom: -10px;
        /* position: absolute; */
    }
    .buttons a {
        text-decoration: none;
        color: #444;
        font-size: 1.5em;
        
        
    }


    .buttons2{
        right:80px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
         /* position: absolute; */
     }
 
     .buttons2 a >img {
         height: 30px;
         left: 180px;
         bottom:-10px;
         /* position: absolute; */
     }
     .buttons2 a {
         text-decoration: none;
         color: #444;
         font-size: 1.5em;
         
         
     }