@media only screen and (max-width: 1200px){
    .inner {
        width: 90%;
        display: flex;
        justify-content: center;
        /* flex-wrap: wrap; */
        gap: 4rem;
        padding: 5rem 0rem;
        flex-direction: column;
        align-items: center;
    }
    .image{
        width:100%;
    }
    .image>img{
        width: 100%;
        object-fit:cover;
    }
    .nav-links{
        display: none;
    }
    .nav-btns{
        display: none;
    }
}

@media only screen and (max-width: 600px)
{
    .text>p{
        font-size: 14px;
        line-height: 2rem;
    }
    .foot{
        text-align: center;
    }
}